:root {
    --main-color: #1e1e1e;
    --secondary-color: #fffe88;
    --complementary-color: #c83e4d;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    background: var(--main-color);
}

p {
    margin: 0;
}

li {
    padding: 0;
    list-style-type: none;
    margin: .85rem;
}

a {
    color: white;
    text-decoration: none;
    padding: 0.35rem;
}

.top {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 65vh;
}

.navbar {
    display: flex;
    align-items: center;
    margin: 0 6rem;
    height: 85px;
}

.logo {
    border-radius: 50%;
    height: 65px;
}

.nav-links {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-weight: 700;
    font-size: 24px;
}

.nav-links a:hover {
    color: var(--complementary-color);
}

.showcase {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin: 0 6rem;
}

.showcase > * {
    z-index: 1;
}

.showcase p {
    font-size: 28px;
    font-weight: 600;
    margin: 0.75rem 0;
}

h4 {
    font-size: 42px;
    font-weight: 600;
    color: var(--secondary-color);
    margin: 0;
}

h2 {
    font-size: 50px;
    font-weight: 800;
    color: var(--secondary-color);
    margin: 0;
}

.showcase-img {
    width: 450px;
    position: absolute;
    bottom: 0;
    right: 100px;
    z-index: 0;
}

.contact {
    width: 10rem;
    color: var(--main-color);
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 14px 8px;
    font-size: 18px;
    font-weight: 600;
    border: 1px var(--main-color) solid;
    cursor: pointer;
    margin-left: 7rem;
    margin-top: 2.5rem;
}

.contact {
    color: var(--main-color);
    text-align: center;
}

.contact:hover{
    background: var(--complementary-color);
    opacity: 0.95;
    color: white !important;
}

.blocker {
    width: 100%;
    height: 100px;
    background: #1a1a1a;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 50px;
    font-weight: 900;
    color: var(--secondary-color);
    margin: 3rem 0 .25rem 0;
}

#about > p {
    font-size: 36px;
    font-weight: 600;
}

.cards-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.about-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    padding: 0.75rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.702) 0px 5px 25px;
    border: 2px solid var(--secondary-color);
    width: 20%;
    height: 25vh;
}

.about-card:hover {
    background: var(--secondary-color);
    color: var(--main-color);
}

.title {
    font-size: 24px;
    font-weight: 700;
    padding: 1rem 0;
}

svg {
    fill: var(--complementary-color);
}

#staff {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.staff-header {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.grid-container {
    display: grid;
    height: 65vh;
    grid-template-columns: 1fr 60% 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 1rem;
    padding: 2rem;
}

.staff-card {
    border-radius: 24px;
    padding: 0.75rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.702) 0px 5px 25px;
    border: 2px solid var(--complementary-color);
    grid-column: 2/3;
    display: grid;
    grid-template-areas: 
        "... ... ... ..."
        "img ... name  ..."
        "img ... desc desc"
        "... ... ... ...";
    row-gap: 1rem;
}

.staff-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    grid-area: img;
}

.staff-name {
    grid-area: name;
    font-size: 28px;
    margin-left: 3rem;
    text-align: center;
}

.staff-description {
    grid-area: desc;
    margin: 0 1rem;
}

/* Utilities */
.contact,
.about-card,
a {
    transition: 250ms ease-in-out;
}

